PySide6>=6.4.0
opencv-python>=4.6.0
numpy==1.26.4
sounddevice>=0.4.5
pyserial>=3.5
requests
python_speech_features
scipy
tensorflow-macos==2.14.0 ; sys_platform == "darwin"
tflite-runtime==2.14.0 ; sys_platform == "win32"
